* {
  padding: 0;
  color: white;

  header {
    font-family: "DM Mono", monospace;
  }
}

.card-list {
  background: #11001a17;
  margin: auto;
  max-width: 100vw;
  display: flex;
  padding: 1.5rem;
  overflow: scroll;
  a {
    text-decoration: none;
  }

  .card {
    background-color: #171518;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    width: 290px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s;

    &:hover {
      transform: translateY(-1.1rem);
    }

    &:hover ~ .card {
      transform: translateX(130px);
    }

    &:not(:first-child) {
      margin-left: -110px;
    }
  }

  //removing Scrollbar

  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: #1b1722;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 28%, 0.25),
      inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  }
  //   &::-webkit-scrollbar-track {
  //     background: linear-gradient(
  //       90deg,
  //       #201c29,
  //       #201c29 1px,
  //       #17141d 0,
  //       #17141d
  //     );
  //   }
}

.card-header {
  p {
    margin-top: 1rem;
    color: rgb(94, 94, 94);
    font-size: 1rem;
  }
  h2 {
    cursor: pointer;
    font-size: 1.8rem;
    word-spacing: -12px;
    font-weight: 600;
    &:hover {
      background: linear-gradient(90deg, #9680d1, #e5532e);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
}
