@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

* {
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  line-height: 1.7;
  font-size: 19px;
  background-color: rgb(10, 18, 29);
  // background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23424242' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  // background-image: url("./assets/projects.jpg");
  background-size: cover;
  background-position: center contain;
  background-repeat: no-repeat;
  .hero-title {
    text-align: center;
    font-size: 1.8rem;
  }
}

.footer {
  max-height: 30vh;
  .space {
    overflow: hidden;
    display: block;
    width: 90vw;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: -1;
    max-height: 80%;
  }
  .github {
    position: absolute;
    // bottom: 1rem;
    left: 25px;
    height: 60px;
    opacity: 0.9;
    &:hover {
      transition: 0.3s;
      transform: scale(1.3);
    }
  }
  a {
    color: rgb(187, 89, 253);
  }
  p {
    &:hover {
      .hover-reveal {
        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(
          to top,
          #ffffff3b 45%,
          transparent 10%
        );
      }
    }
  }
}

.nav-bar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
  height: 7vh;
}

.link {
  color: #f8f8f8;
  display: inline-block;
  padding: 0px 20px;
  font-size: 30px;
  text-decoration: none;
  transition: 0.2s;
  font-family: "DM Mono", monospace;
}

.link:hover {
  transform: scale(1.1);
  text-decoration: none;
  color: #f8f8f875;
}

.nasa-photo-container {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;

  img {
    width: 50%;
    margin-right: 50px;
    object-fit: contain;
    max-height: 80vh;
  }

  h1 {
    color: cornflowerblue;
  }

  .date {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .explanation {
    color: #bbb;
    font-size: 20px;
  }
}

@media (max-width: 1280px) {
  .nasa-photo-container {
    display: block;

    img {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 450px) {
  .hero-title {
    font-size: 1.5rem;
  }
}

.home {
  margin: 2rem 0;
  display: flex;
  height: 90vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-link {
  font-family: "Fira Code", monospace;
  font-size: 25px;
  border-radius: 20px;
  background: linear-gradient(
    313deg,
    rgba(170, 164, 172, 1) 0%,
    rgba(150, 102, 132, 1) 27%,
    rgba(136, 59, 105, 1) 44%,
    rgba(41, 10, 56, 1) 79%
  );
  // display: inline-block;
  padding: 10px 20px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  transition: 0.3s ease all;
  border: 3px solid rgb(27, 27, 27);
  margin: 20px;
  text-align: center;
}

.home-link:hover {
  transform: scale(1.3);
}

.mars-container {
  h1 {
    text-align: center;
    padding: 100px;
  }

  h2 {
    text-align: center;
    padding: 10px;
  }

  max-width: 1200px;
  margin: 0 auto;

  .img-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 10px;
    grid-auto-flow: dense;
    padding: 1rem;

    img {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 6px 10px 14px rgba(0, 0, 0, 0.8);
  border: 10px solid rgba(12, 12, 12, 0.836);
  border-radius: 10px;
}

.leaflet-container {
  width: 100vw;
  height: 70vh;
}
.iss-info {
  h1 {
    color: rgba(204, 204, 204, 0.8);
  }
  padding: 1rem;
  border: solid 1px white;
  margin: 10px;
}
